
<br>
<div class="row py-3">
<div class="col sm-3">
  <div class="col">
    
    <%= form_with(url: search_users_path, method: :get, local: true) do |f| %>
    <% if defined? @search_title %>
    <%= f.text_field :search_title, value: @search_title ,class:'label mx-3',style:'height:50px;width:200px'%>
    <% else %>
      <%= f.text_field :search_title %>
      <%= f.select :search_status, User.statuses.map { |k, v| [k, v] }, class: 'search_status form-control', prompt: 'status'%>
      <%= f.submit I18n.t('views.form.search') ,class:'btn btn-light'%>
    <% end %>
    <% end %>
  </div>
</div>
</div>

<br>
<br>

<h1><%=I18n.t('views.messages.Users List')%></h1> 

<br>

<table class = "table table-bordered table-striped">
<thead>
  <tr>
    <th><%=I18n.t('views.messages.Name')%></th>
    <th><%=I18n.t('views.messages.Adress Email')%></th>
    <th>Status</th>
    <th><%=I18n.t('views.messages.Registered Date')%></th>
    <th><%=I18n.t('views.messages.Post Count')%></th>
    <th><%=I18n.t('views.messages.Favorite Count')%></th>
    <th colspan="3"></th>
  </tr>
</thead>

<tbody>
  <% @users.each do |user| %>
    <tr>
      <td class= "user_row"><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.status %></td>
      <td><%= user.created_at %></td>
      <td><%= user.posts.count %></td>
      <td><%= user.favorites.count %></td>
      <%if user==current_user %>
      <td><%= link_to I18n.t('views.buttons.Show'), user, class:"btn btn-primary" %></td>
      <% else %>
        <p></p>
        <% end %>
    </tr>
  <% end %>
</tbody>
</table>

<%= link_to I18n.t('views.buttons.Back'), posts_path, class: "btn btn-danger text-light"%>

<%= render 'posts/footer'%>