<div class="container">
  <div class="row-top">
    <div class="col-md-4"> <strong><h1>Students Helper</h1></strong>
       <strong><p class="objectif"><%=I18n.t('views.messages.Goal')%>.</p></strong> 
       <img src="https://image.shutterstock.com/image-photo/back-view-boy-stretches-after-600w-700226077.jpg" class="center-block", style="width: 350px;">
    </div>
    <div class="col-md-5"> <strong><h3><%=I18n.t('views.messages.About')%></h3></strong>
       <strong><p><%=I18n.t('views.messages.Help_to')%>:</p></strong>
        <ol>
            <li><%=I18n.t('views.messages.About1')%>;</li>
            <li><%=I18n.t('views.messages.About2')%>;</li>
            <li><%=I18n.t('views.messages.About3')%>;</li>
            <li><%=I18n.t('views.messages.About4')%>;</li>
            <li><%=I18n.t('views.messages.About5')%>;</li>
            <li><%=I18n.t('views.messages.About6')%>;</li>
            <li><%=I18n.t('views.messages.About7')%>;</li>
            <li><%=I18n.t('views.messages.About8')%>;</li>
            <li><%=I18n.t('views.messages.About9')%>;</li>
        </ol>
    </div>
    <div class="col-md-3">
        <img src="https://st.depositphotos.com/1011643/2013/i/600/depositphotos_20130797-stock-photo-group-of-african-university-students.jpg" class="center-block", style="width: 400px;">
    </div>
  </div>
  <div class="row-back"> 
    
    <div class="col-md-5"> <strong><h4><%=I18n.t('views.messages.Use_SH')%></h4></strong>
        <ul>
            <li><%=I18n.t('views.messages.Use_SH1')%>;</li>
            <li><%=I18n.t('views.messages.Use_SH2')%>;</li>
            <li><%=I18n.t('views.messages.Use_SH3')%>;</li>
            <li><%=I18n.t('views.messages.Use_SH4')%>;</li>
        </ul>
    </div>
    <div class="col-md-2"> 
        <img src="https://www.graphicsprings.com/filestorage/stencils/a85b7c149ea786ceeac77c4fa7fd7a56.png?width=500&height=500" class="center-block", style="width: 200px;">
    </div>
    <div class="col-md-5">
        <ul>
            <li><%=I18n.t('views.messages.Use_SH5')%>;</li>
            <li><%=I18n.t('views.messages.Use_SH6')%>;</li>
            <li><%=I18n.t('views.messages.Use_SH7')%>;</li>
            <li><%=I18n.t('views.messages.Use_SH8')%>;</li>
            <li><%=I18n.t('views.messages.Use_SH9')%>;</li>
            <li><%=I18n.t('views.messages.Use_SH10')%>;</li>
        </ul>
    </div>
  </div>
</div>

<%= render 'posts/footer'%>

