<%= form_with(model: @post, local: true) do |form| %>
 
  <% if post.errors.any? %>
  <% name = post.errors.include?(:name) %>
    <% content = post.errors.include?(:content) %>
    <% attachment = post.errors.include?(:attachment) %>
    
  <% end %>

  <div class="field">
    <%= form.label :Nom %>
    <%= form.text_field :name, class: "input" %>
  </div>
  <% if name %>
        <div class="d-block" style="color:red;font-size:12px">
          <% post.errors.full_messages_for(:name).each do |error_message| %>
            <%= error_message %>.
          <% end %>
        </div>
      <% end %>
  <br>

  <div class="field">
    <%= form.label :Contenu %>
    <%= form.text_area :content, class: "input h-64"%>
  </div>
  <% if content %>
        <div class="d-block" style="color:red;font-size:12px">
          <% post.errors.full_messages_for(:content).each do |error_message| %>
            <%= error_message %>.
          <% end %>
          <% end %>


  <div class="field">
  <%= form.label :attachment %>
  <%= form.file_field :attachment %>
 </div>
 <% if attachment %>
        <div class="d-block" style="color:red;font-size:12px">
          <% post.errors.full_messages_for(:attachment).each do |error_message| %>
            <%= error_message %>.
          <% end %>
          <% end %>

 <h3><%=I18n.t('views.messages.Tags')%></h3>

  <table style="width:100%">
  
    <thead>
    <tr>
    <th></th>
    <th></th>
    </tr>
    </thead>
  <tbody>
  <% @tags.each do |tag| %>
  <tr>
  <td><%=form.label :tag_ids, tag.name,value:tag[:id],style:'text-decoration:none'%></td>  
  <td><%= form.check_box :tag_ids, { multiple: true, checked: @post.tags.find_by(id: tag.id).present?,  disabled: tag[:disabled], include_hidden: false }, tag[:id] %></td>
  </tr>
  <% end %>
  </tbody>
</table>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
