 <%= form_with(model: @post, local: true, url: choose_new_or_edit ) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "input" %>
  </div>
  <br>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, class: "input h-64"%>
  </div>


  <div class="field">
  <%= form.label :attachment %>
  <%= form.file_field :attachment %>
 </div>

 <h5>Tags</h5>
  <div class="row">
      <% @tags.each do |tag| %>
      <div class="col m-3 col-lg-2">
          <p>
          <%= form.check_box :tag_ids, { multiple: true, checked: @post.tags.find_by(id: tag.id).present?,  disabled: tag[:disabled], include_hidden: false }, tag[:id] %>
          <%=form.label :tag_ids, tag.name,value:tag[:id],style:'text-decoration:none'%>
          </p>
      </div>
     <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
