<header>
    <nav class="navbar navbar-light bg-light p-3">
        <div class="container-fluid, mt:5">
            <div class="col-md-6"><h3>StudentsHelper</h3></div>

            <% if user_signed_in? %>

            <div class="col-md-4">
            <%= link_to "Posts List", posts_path, class: "btn btn-info text-light"%>
            <%= link_to "User List", users_path , class: "btn btn-primary text-light"%>
            <%= link_to "Admin Screen", "/admin", class: "btn btn-success text-light" %>
            <%= link_to "Profile", user_path(current_user.id) , class: "btn btn-primary text-light"%>
            </div>

            <div class="col-md-2">
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "btn btn-danger text-light"%>
            <% else %>
            <%= link_to 'Log in', new_user_session_path, class: "btn btn-success text-light"%>
            <%= link_to 'sign up', new_user_registration_path, class: "btn btn-primary text-light" %>
            <%= link_to 'Admin guest', guess_user_path(1), class: "btn btn-default text-light" %>
            <%= link_to 'General user guest', guess_user_path(0), class: "btn btn-default text-light" %>
            </div>
            <% end %>
        </div>
    </nav>
</header>
