<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Attachment:</strong>
  <%if @post.attachment.url%>
  <iframe src="<%= @post.attachment.url %>", toolbar=0" width="100%" height="400px">
    </iframe>
  <%end%>
</p>

<p>
  <strong>Registered Date:</strong>
  <%= @post.created_at %>
</p>

<%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-primary'%> |
<%= link_to 'Back', posts_path, class: 'btn btn-danger'%> |

<% unless @post.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to 'Remove favorite', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'Favorite', favorites_path(post_id: @post.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>
