<!DOCTYPE html>
<html>
  <head>
    <title>OriginalApplication</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'posts/header'%>
  <br>

  <div>
  <% if notice %>
  <p class="alert alert-notice"><%= notice %></p>
  <% end %>
  <% if alert %>
  <p class="alert alert-error"><%= alert %></p>
  <% end %>  
  </div>
  <div style= "margin-bottom: 100px"><%= yield %></div>
  </body>
</html>
